{% extends 'base.html' %}
{% load static %}


{% block style %}

<style>
    html {
        overflow-x: hidden;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        place-content: center;
        background-color: rgb(22, 33, 62);
        column-gap: 5vw;
        font-size: 1.8rem;
        color: white;
        margin-top: -1rem;
        margin-left: -0.5rem;
        width: 100vw;
        border-bottom-left-radius: 7rem;
        border-bottom-right-radius: 7rem;
        font-family: cursive;
        /* height: 22vh; */
    }

    .navbar {
        margin-top: 1rem;
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-around;
        border: 0px solid black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        box-shadow: 1px 1px 10px rgb(22, 33, 62);
        border-radius: 1rem;
    }

    .navbar div {
        background-color: rgb(22, 33, 62);
        color: white;
        font-weight: 600;
        padding: .5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 1rem;
    }

    section h2 {
        background-color: rgb(22, 33, 62);
        font-family: cursive;
        font-weight: 300;
        padding-left: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-bottom: 2px solid black;
        color: white;
        border-radius: 1.2rem;
        margin-left: 1.6%;

    }

    .allbooks {
        display: flex;
        flex-direction: row;
        column-gap: 2%;
        overflow-y: scroll;
        padding-left: 1.5rem;
    }

    .book_details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        place-items: center;
        width: 30rem;
        padding-left: 2%;
        padding-right: 2%;
        border-radius: 2%;
        border: 1px solid black;
    }

    .allbooks ::-webkit-scrollbar {
        display: none;
    }

    .book_details h3 {
        text-align: center;
        text-decoration: underline;
    }

    .book_details img {
        margin-top: .6vw;
        margin-bottom: .6vw;
        width: 23vw;
        border-radius: .5rem;
        box-shadow: 2px 2px 5px rgb(172, 222, 238);
        /* height: 25vh; */
    }

    .book_details img:hover {
        box-shadow: 3px 3px 10px rgb(22, 33, 62);
        width: 24vw;
        margin-top: 0;
        margin-bottom: 0;
        transition: 80ms ease-in-out;
        cursor: grab;
    }

    .img1 img {
        margin-top: .6vw;
        margin-bottom: .6vw;
        width: 30vw;
        border-radius: .5rem;
        box-shadow: 2px 2px 5px rgb(172, 222, 238);
        height: 30vh;
    }

    .img1 img:hover {
        box-shadow: 3px 3px 10px rgb(22, 33, 62);
        width: 31vw;
        margin-top: 0;
        margin-bottom: 0;
        transition: 80ms ease-in-out;
        cursor: grab;
    }


    .book_details p {
        width: 35vw;
        text-align: center;
    }

    button {
        background-color: rgb(22, 33, 62);
        color: white;
        /* border: 1 px solid rgb(22, 33, 62); */
        border-radius: 5px;
        margin: 3px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .subheading h3 {
        color: rgb(22, 33, 62);
        text-decoration: underline;
        font-family: cursive;
        margin-left: 1.9%;
    }
</style>


{% endblock %}

{% block title %}
Books | LearnWithUs
{% endblock %}

{% block heading %}
Books @ LearnWithUs
{% endblock %}


{% block content %}


<section>
    <div class="subheading">
        <h2>Acedmics Book Section</h2>
    </div>
    <div class="allbooks">
        <div class="allbooks">
        <div class="book_details">
            <h3>Engineering Mathematics</h3>
            <div class="img1">
            <img src="{%static 'images\maths-img.jpg'%}" alt=""></div>

            <a href="{%static 'Programming Notes\(B.S Grewal)Higher Engineering Mathematics (1).pdf'%}" target="_blank">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\(B.S Grewal)Higher Engineering Mathematics (1).pdf'%}" download>
                <button>Download</button>
            </a>
        </div>

        <div class="book_details">
            <h3>Engineering Mechanics</h3>
            <div class="img1">
            <img src="{%static 'images\em_book.jpeg'%}" alt=""></div>
            <a
                href="{%static 'Programming Notes\Sanjay Bansal_ R. K. Bansal - A textbook of engineering mechanics (1) (1).pdf'%}" target="_blank">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\Sanjay Bansal_ R. K. Bansal - A textbook of engineering mechanics (1) (1).pdf'%}"
                download>
                <button>Download</button>
            </a>
        </div>
        <div class="book_details">
            <h3>Engineering Chemistry</h3>
            <div class="img1">
            <img src="{%static 'images\eng-chem.png'%}" alt=""></div>
            <a href="{%static 'Programming Notes\C Programming (1).pdf'%}" target="_blank">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\C Programming (1).pdf'%}" download>
                <button>Download</button>
            </a>
        </div>
        <div class="book_details">
            <h3>Electronics</h3>
            <div class="img1">
            <img src="{%static 'images\ece_book.webp'%}" alt=""></div>
            <a href="{%static 'Programming Notes\C Programming (1).pdf'%}" target="_blank">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\C Programming (1).pdf'%}" download>
                <button>Download</button>
            </a>
        </div>
        <div class="book_details">
            <h3>Electrical Engineering</h3>
            <div class="img1">
            <img src="{%static 'images\elec_book.webp'%}" alt=""></div>
            <a
                href="{%static 'Programming Notes\Basic Electrical Engineering by D. P. Kothari, I. J. Nagrath (z-lib.org) (1).pdf'%}" target="_blank">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\Basic Electrical Engineering by D. P. Kothari, I. J. Nagrath (z-lib.org) (1).pdf'%}"
                download>
                <button>Download</button>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="heading">
        <h2>Nonacedmics Book Section</h2>
    </div>
    <div class="subheading">
        <h3>Programming Books:</h3>
    </div>
    <div class="allbooks">
        <div class="allbooks">
        <div class="book_details">
            <h3>C-Programming</h3>
            <img src="{%static 'images\c-img1.png'%}" alt="">
            <a href="{%static 'Programming Notes\C Programming (1).pdf'%}" target="_blank">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\C Programming (1).pdf'%}" download>
                <button>Download</button>
            </a>
        </div>
        <div class="book_details">
            <h3>C-sharp Programming</h3>
            <img src="{%static 'images\c-sharp.png'%}" alt="">
            <a href="{%static 'Programming Notes\c_sharp_programming_for_beginners.pdf'%}" target="_blank">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\c_sharp_programming_for_beginners.pdf'%}" download>
                <button>Download</button>
            </a>
        </div>
        <div class="book_details">
            <h3>C++ Programming</h3>
            <img src="{%static 'images\cpp.png'%}" alt="">
            <a href="{%static 'Programming Notes\C-complete-Notes.pdf'%}">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\C-complete-Notes.pdf'%}" download>
                <button>Download</button>
            </a>
        </div>
        <div class="book_details">
            <h3>JAVA Programming</h3>
            <img src="{%static 'images\java.png'%}" alt="">
            <a href="{%static 'Programming Notes\C Programming (1).pdf'%}" target="_blank">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\C Programming (1).pdf'%}" download>
                <button>Download</button>
            </a>
        </div>
        <div class="book_details">
            <h3>Python Programming</h3>
            <img src="{%static 'images\python.png'%}" alt="">
            <a href="{%static 'Programming Notes\python complete notes.pdf'%}" target="_blank">
                <button>View PDF</button>
            </a>
            <br><br>
            <a href="{%static 'Programming Notes\python complete notes.pdf'%}" download>
                <button>Download</button>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="subheading">
        <h3>Web-Development Books:</h3>
    </div>
    <div class="allbooks">
        <div class="allbooks">
            <div class="book_details">
                <h3>HTML-5</h3>
                <img src="{%static 'images\html5-logo.png'%}" alt="">
                <a href="{%static 'Programming Notes\HTML - Handwritten.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\HTML - Handwritten.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>CSS-3</h3>
                <img src="{%static 'images\css-img.png'%}" alt="">
                <a href="{%static 'Programming Notes\CSSNotesForProfessionals (1).pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\CSSNotesForProfessionals (1).pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>Javascript</h3>
                <img src="{%static 'images\js.png'%}" alt="">
                <a href="{%static 'Programming Notes\JavaScriptNotesForProfessionals.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\JavaScriptNotesForProfessionals.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>

        </div>
</section>
<section>
    <div class="subheading">
        <h3>Interview Questions:</h3>
    </div>
    <div class="allbooks">
        <div class="allbooks">
            <div class="book_details">
                <h3>Java Interview Questions</h3>
                <div class="img1">
                    <img src="{%static 'images\javainter.webp'%}" alt="">
                </div>
                <a href="{%static 'Programming Notes\100 Java Interview Questions with Answers.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\100 Java Interview Questions with Answers.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>CS Fundametals Interview Questions</h3>
                <div class="img1">
                    <img src="{%static 'images\cs-inter.jpg'%}" alt="">
                </div>
                <a href="{%static 'Programming Notes\CS Fundamental Interview Questions_.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\CS Fundamental Interview Questions_.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>DBMS Interview Questions</h3>
                <div class="img1"><img src="{%static 'images\dbms-inter.jpeg'%}" alt=""></div>
                <a href="{%static 'Programming Notes\DBMS INTERVIEW Q&A.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\DBMS INTERVIEW Q&A.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>OOPS in C++ Interview Question</h3>
                <div class="img1"><img src="{%static 'images\oops-inter.jpg'%}" alt="">
                </div> <a href="{%static 'Programming Notes\OOPS in C++ Interview Questions.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\OOPS in C++ Interview Questions.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>React JS Interview Questions</h3>
                <div class="img1"><img src="{%static 'images\react-inert.jpeg'%}" alt=""></div>
                <a href="{%static 'Programming Notes\TOP REACT JS INTERVIEW QUESTIONS AND ANSWERS_.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\TOP REACT JS INTERVIEW QUESTIONS AND ANSWERS_.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
        </div>
</section>
<section>
    <div class="subheading">
        <h3>Programming Questions:</h3>
    </div>
    <div class="allbooks">
        <div class="allbooks">
            <div class="book_details">
                <h3>Top 100 Leetcode Questions</h3>
                <div class="img1"><img src="{%static 'images\code-ques.jpeg'%}" alt="">
                </div> <a href="{%static 'Programming Notes\100 must do leetcode questions.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\100 must do leetcode questions.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>150 Data Structure Questions</h3>
                <div class="img1"><img src="{%static 'images\leet-150.jpg'%}" alt="">
                </div> <a href="{%static 'Programming Notes\150 Questions _ Data Structure .pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\150 Questions _ Data Structure .pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>Leetcode-75 Blind Questions</h3>
                <div class="img1"><img src="{%static 'images\75-blind.jpg'%}" alt="">
                </div> <a
                    href="{%static 'Programming Notes\LeetCode Java Practice Solved Questions - by Raj Kumar .pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\LeetCode Java Practice Solved Questions - by Raj Kumar .pdf'%}"
                    download>
                    <button>Download</button>
                </a>
            </div>
        </div>
</section>
<section>
    <div class="subheading">
        <h3>Cheat Sheets:</h3>
    </div>
    <div class="allbooks">
        <div class="allbooks">
            <div class="book_details">
                <h3>Python CheatSheet</h3>
                <div class="img1"><img src="{%static 'images\pyth-cheat.jpg'%}" alt=""> </div>
                <a href="{%static 'Programming Notes\Python CheatSheet _.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\Python CheatSheet _.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>Resume CheatSheet</h3>
                <div class="img1"><img src="{%static 'images\resume-cheat.jpg'%}" alt=""></div>
                <a href="{%static 'Programming Notes\Resume Cheatsheet.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\Resume Cheatsheet.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>Unix and Linux CheatSheet</h3>
                <div class="img1"><img src="{%static 'images\unix-cheat.png'%}" alt=""></div>
                <a href="{%static 'Programming Notes\Unix and Linux Commands Cheatsheet.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\Unix and Linux Commands Cheatsheet.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
        </div>
</section>
<section>
    <div class="subheading">
        <h3>Roadmaps</h3>
    </div>
    <div class="allbooks">
        <div class="allbooks">
            <div class="book_details">
                <h3>Complete DSA Roadmap</h3>
                <div class="img1"><img src="{%static 'images\dsa-roadmap.png'%}" alt=""></div>
                <a href="{%static 'Programming Notes\Complete-DSA-guide1.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\Complete-DSA-guide1.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>Website testing Roadmap</h3>
                <div class="img1"><img src="{%static 'images\web-roadmap.jpg'%}" alt=""></div>
                <a href="{%static 'Programming Notes\Website Testing Checklist -1-..pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\Website Testing Checklist -1-..pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
        </div>
</section>
<section>
    <div class="subheading">
        <h3>Miscellaneous </h3>
    </div>
    <div class="allbooks">
        <div class="allbooks">
            <div class="book_details">
                <h3>100 AI Tools[Must Try]</h3>
                <div class="img1"><img src="{%static 'images\ai-tools.jpg'%}" alt="">
                </div> <a href="{%static 'Programming Notes\100 AI tools boost.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\100 AI tools boost.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
            <div class="book_details">
                <h3>48 Chat-gpt Prompts</h3>
                <div class="img1"><img src="{%static 'images\chat-gpt.jpeg'%}" alt="">
                </div> <a href="{%static 'Programming Notes\48 Chatgpt Prompt.pdf'%}" target="_blank">
                    <button>View PDF</button>
                </a>
                <br><br>
                <a href="{%static 'Programming Notes\48 Chatgpt Prompt.pdf'%}" download>
                    <button>Download</button>
                </a>
            </div>
        </div>
</section>


{% endblock %}