{% extends 'base.html' %}

{% block title %}
Contact Us
{% endblock %}



{% block heading %}
Contact@LearnWithUs
{% endblock %}

{% block style%}

<style>
    .form-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3vw;
    }

    .form-div form {
        border: 2px solid rgb(22, 33, 62);
        display: flex;
        /* grid-template-columns: 1fr; */
        flex-direction: column;
        /* flex-wrap: wrap; */
        padding: 1rem;
        /* margin-top: 2rem; */
        border-radius: 1rem;
        /* width: 75%; */
        justify-content: center;
        align-items: center;
        place-content: center;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .form-div form input {
        margin-top: 1rem;
        height: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 1rem;
        border: 1px solid rgb(22, 33, 62);
        color: rgb(22, 33, 62);
        outline: none;
        font-weight: 600;
    }

    textarea{
        padding: 1vw;
        margin: 0;
    }
    .head-text{
        text-align: center;
        margin-top: 3vw;
        margin-bottom: -2rem;
    }

    .submit {
        background-color: rgb(22, 33, 62);
        color: white;
    }
</style>

{% endblock %}


<!-- Content Starting from here -->

{% block content %}

<div class="head-text">
    <h1>Fill out this form !</h1>
</div>

<div class="form-div">

    <p style="color: red;">
        {{error}}
    </p>

    <form action="contact" method="POST">

        {% csrf_token %}

        <!-- <input type="hidden" name="access_key" value="05372b54-930b-4bb7-9a8b-6f5290e9d83e"> -->
        <input name="name" type="text" placeholder="Your Full name">
        <input name="college" type="text" placeholder="Your college name">
        <input name="mobile" type="number" placeholder="Type your phone number">
        <input name="email" type="email" placeholder="Type you email address">
        <!-- <input name="question" type="text" placeholder="write you whole query here !"> -->
        <!-- <input name="question" type="text" placeholder="write you whole query here !"> -->
        <br>
        <textarea name="question" id="" cols="25" rows="6">Write you whole query here !</textarea>

        <input style="color: white;" class="submit" type="submit" value="Submit Now">

    </form>

</div>



{% endblock %}