{% extends 'base.html' %}
{% load static %}

{% block title %}
Copyright&copy;
{% endblock %}


{% block linkcss %}
<link rel="stylesheet" href="{% static 'css/copyright.css' %}">
{% endblock %}


{% block style %}

<!-- <style>
    
</style> -->

{% endblock %}


{% block heading %} 
Copyright@LearnWithUs
{% endblock %}




{% block content %}

<div class="intro">
    <h3>
        LearnWithUs is an EdTech organisation that is keen on improving upon the quality of education for college students. We here work to support the development of young minds who is willing to upscale their skills. For this particular reason we have provide them with a lot of material. We have created some of the material by ourself and we have taken some questions from different platform on web. On the same material we donot hold any copyright and we have the name of these platform from where we have taken these material.
    </h3>
</div>
<div class="copyrights">
    <ul>
        <li>We have and hold full authorisation and access to the material that we have created and deployed.</li>
        <li>Some of the programming questions we have taken them from LeetCode.</li>
        <li>We have Java Interview question from Naresh Technologies</li>
        <li>We have Let Us C Book from BPB Publications</li>
        <li>We have some materials from 30dayscoding.com</li>
        <li>We have some materials from Atul Kumar (LinkedIn)</li>
        <li>We have notes from VARDHAMAN COLLEGE OF ENGINEERING</li>
        <li>We have notes from Topper World</li>
        <li>We have some materials from goalkicker.com/</li>
        <li>We have some materials from Apna College</li>
        <li>We have some materials from Tomy Mester</li>
        <li>We have some programming questions from CodeChef.</li>
        <li>We have some materials from Durga Softwares</li>
        <li>We have some materials from Kansas State University</li>
        <li>We have some handwritten notes downloaded from web. We donot have any information regarding their ownership. If anyone know or have their right over these documents and we have not mentioned it, we are gladly open to our mail. We will surely have your authorisation on that document.</li>
    </ul>
</div>

{% endblock %}