{% extends 'base.html' %}
{% load static %}




    {% block linkcss %}

    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    {% endblock %}
    <!-- <link rel="icon" href="{% static 'logo3.png' %}" type="image"> -->

    {% block style %}

    <style>

        .container {
            display: flex;
            justify-content: space-evenly;
            /* place-content: center; */
            align-items: center;
        }

        .container .container-img img {
            height: 25rem;
            margin-top: 5vw;
        }

        .content {
            font-weight: 700;
            padding: 0;
            /* margin-left: 3rem; */
        }

        .content .text1 {
            font-size: 5rem;
            font-weight: 900;
            /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
            font-family: cursive;
        }

        .content .text2 {
            font-size: 2.5rem;
            margin-top: -2.5rem;
        }

        .container input {
            border: 2px solid rgb(22, 33, 62);
            background-color: transparent;
            width: 23vw;
            height: 2rem;
            border-radius: 2rem;
            font-weight: 600;
            padding-left: 1rem;
            color: rgb(22, 33, 62);
        }

        .container input::placeholder {
            color: rgb(22, 33, 62);
        }

        .container .login-link {
            color: rgb(22, 33, 62);
            padding-top: 1rem;
            /* padding-left: 1rem; */
            /* text-align: center; */
            /* width:  */
        }

        .container .login-link a {
            border: 2px solid rgb(22, 33, 62);
            padding: .5rem;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            background-color: rgb(22, 33, 62);
            color: white;
            text-decoration: none;
            border-radius: 1rem;
            font-family: cursive;
            font-weight: 600;

        }

        .opportunities .heading {
            border: 2px solid rgb(22, 33, 62);
            background-color: rgb(22, 33, 62);
            color: white;
            margin-top: 1rem;
            margin-left: 1rem;
            padding-left: 3rem;
            border-radius: 2rem;

        }

        .opportunities .alldata .data img {
            height: 10vw;
            /* border-radius: 1.2rem; */
        }

        .opportunities .alldata .data {
            width: min-content;
            border: 2px solid rgb(22, 33, 62);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-content: center;
            align-items: center;
            padding: 1rem;

        }

        .opportunities .alldata {
            display: flex;
            flex-wrap: nowrap;
            column-gap: 1rem;
            margin-top: 1rem;
            margin-left: 2.5rem;
            overflow-x: scroll;
        }

        .opportunities .alldata::-webkit-scrollbar {
            display: none;
        }



        .header {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            place-content: center;
            place-items: center;
            /* margin-bottom: ; */
        }

        .header img {
            /* height: 10rem; */
            margin-top: 2rem;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .explore-text {
            font-size: 1.9rem;
            width: fit-content;
            margin-bottom: -1rem;
            padding-bottom: -1rem;
            /* border-bottom: 5px solid rgb(22, 33, 62); */
            margin-left: 3rem;
            /* font-family: 'Madimi One'; */
            font-family: "Protest Riot";
            /* font-weight: 100; */
        }

        .explore-text h1 {
            padding-bottom: 1rem;
            text-decoration: underline;
            border-bottom: 5px solid rgb(22, 33, 62);
            padding-right: 4rem;
        }

        .parent {
            display: flex;
            justify-content: center;
            place-content: center;
            align-items: center;
            place-items: center;
            column-gap: 8vw;
            margin-bottom: 2rem;
            margin-top: 4rem;
            font-family: Alkatra;
        }

        .parent .child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            place-content: center;
            text-align: center;
        }

        .parent .child p {
            font-weight: 800;
            font-size: 1.2rem;

        }

        .parent .child h2 {
            font-size: 2.5rem;
            margin: 0;
        }

        .parent .child a {
            border: 1px solid wheat;
            background-color: rgb(22, 33, 62);
            font-size: 1rem;
            font-weight: 700;
            color: white;
            padding: .5rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            border-radius: 1rem;
        }

        
    </style> 

    {% endblock %}


    {% block content %}
    <!-- <h1>Welcome to LearnWithUs</h1> -->
<!--     
    {% block title %}
    Home | LearnWithUs
    {% endblock %} -->


<!-- 
    {% block heading %}
    LearnWithUs
    {% endblock %} -->



    <div class="container">

        <div class="content">
            <p class="text1">LearnWithUs</p>
            <p class="text2">Where we promote to <br> Learn in <span style="color: rgb(0, 110, 255);">Public</span> with
                <span style="color: brown;">Public</span></p>
                
                
                
            {% if username is not None %}
            <p style="font-size: 2rem;">Welcome back {{username}} !</p>
            <input type="text" placeholder="What do you wanna learn today !">
            
            {% else %}
                
            <!-- Commenting for now -->
            <p class="login-link">
                <a href="login">Login Now</a>
                <a href="register">Create an Account</a>
            </p>

            {% endif %}


            



        </div>
        <div class="container-img">
            <!-- <img src="{% static 'lounge-man-working-on-web-design.gif' %}" alt=""> -->
            <img style="height: 26rem;" src="{% static 'images/lady.jpg' %}">
            <!-- <img src="{% static 'coworking-male-programmer-writing-program-code.gif' %}" alt=""> -->
        </div>

    </div>
    <br> <br>

    <div class="explore-text">
        <h1>Start Exploring</h1>
    </div>

    <div class="parent">
        <div class="child">
            <h2>Books, courses, and <span style="color: brown;">much more...</span></h2>
            <p>Get all kind of books, <br> notes, blogs, questions, and <br> all you need to work on</p>
            <a href="courses">Explore more</a>
        </div>
        <div class="child">
            <img src="{% static 'images/dizzy-programmer-working-with-code-on-a-laptop.gif' %}" alt="">
        </div>
    </div>
    <div class="parent">
        <div class="child">
            <img src="{% static 'images/clip-online-education-4.gif' %}" alt="">
        </div>
        <div class="child">
            <h2>Get to know about all <span style="color: rgb(0, 110, 255);">Opportunities</span></h2>
            <p>Get to know the best Opportunities <br>available to you in one single place.</p>
            <a href="opportunities">See all opportunities</a>
        </div>
    </div>

    <br><br><br>

    {% endblock %}
