<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotesPedia</title>
    <link rel="stylesheet" href="../static/css/notespedia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img src="../static/images/logo3.png" alt="" >
        <h2 class="heading">LearnWithUs</h2>

    </div>
    <div class="nav">
        <ul class="nav_list">
            <li1 class="navv_list_items"><a href="home">Home</a></li1>
            <li2 class="navv_list_items"><a href="opportunities">Opportunities</a></li2>
            <li3 class="navv_list_items"><a href="$">Books</a></li3>
            <li4 class="navv_list_items"><a href="notespedia">NotesPedia</a></li4>
            <li5 class="navv_list_items"><a href="techblog">Techblogs</a></li5>
        </ul>
    </div>
    <h1 style="color: #16213E; padding-left: 2rem; padding-bottom: 0px; font-weight: bold; font-family: Jaldi; margin: 1.5rem 0rem 0rem 0rem;">Explore Your Academics Notes :</h1>
    <!-- this is for underline below the text and used inline css  -->
    <div style="width: 24rem; height: 0.2rem; background-color: #16213E; position: relative;top:-0.5rem; left: 1.5rem;"></div>
    <div style="width: 24rem; height: 0.2rem; background-color: #16213E; position: relative;top:-0.25rem; left:3.5rem;"></div>

    <!-- from here codes is below explore courses line -->
    <div class="main_container">
        <div1 class="left_container">
            <input type="search" name="search_bar" id="search"> <button class="button"><img src="../static/notespedia_images/icons8-search-50.png" alt=""></button>

        </div1>
        <div2 class="right_container">right one</div2>
    </div>
</body>
</html>