{% extends 'base.html' %}
{% load static %}


{% block style %}
<style>
    .member .images h1{
        font-family: 'Alkatra';
        color: rgb(22, 33, 62);
        margin-left: 10%;
        margin-top: -2%;
    }

    .team-head h1 {
        color: rgb(22, 33, 62);
        text-decoration: underline;
        padding-left: 0;
        margin-left: 1rem;
        font-family: 'Alkatra';
        padding-bottom: 0rem;
    }

    .allmembers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        place-content: center;
        row-gap: 10vw;
        margin-bottom: 10vw;
    }

    .member {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        place-content: center;
        place-items: center;

    }

    .textdata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-content: center;
        align-items: center;
    }

    .member .images img {
        border-radius: 5%;
        width: 25vw;
    }


    .member .textdata p {
        font-weight: 550;
        width: 60%;
        text-wrap: wrap;
    }
    .info{
        display: flex;
        justify-content: space-between;
    }
    .info img{
        width: 3vw;
        padding: 1vw;
    }

    li{
        font-size: larger;
    }

    h2{
        font-family: 'Alkatra';
    }

</style>
{% endblock %}


{% block title %}
Team | LearnWithUs
{% endblock %}

{% block heading %}
Team @ LearnWithUs
{% endblock %}




{% block content %}
<div class="team-head">
    <h1>Meet Our Team!</h1>
</div>

<div class="allmembers">

    <div class="member">
        <div class="images">
            <img  src="{% static 'team/anurag2.png' %}" alt="">
            <h1>Anurag Upadhyay </h1>
        </div>
        <div class="textdata">
            <h2>Founder And Developer</h2>
            <ul>
                <li><strong>Education:</strong>Pursuing B.Tech from HBTU Kanpur (2022-2026)</li>
                <br>
                <li><strong>Skills:</strong>HTML,CSS,JS,Python,DJango,Numpy,pandas,matplotlib,MySQL....</li>
            </ul>
            <div class="info">
                <a href="https://www.linkedin.com/in/anuragfx818/"><img src="{% static 'images/linkedin.png'  %}" alt=""></a>
                <a href=""><img src="{% static 'images/twitter.png' %}" alt=""></a>
                <a href="https://www.instagram.com/818anurag?igsh=amZtcHdheXRwem91"><img src="{% static 'images/instagram.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/facebook.png' %}" alt=""></a>
            </div>
        </div>
    </div>


    <div class="member">
        <div class="textdata">
            <h2>Co-Founder And Developer</h2>
            <ul>
                <li><strong>Education:</strong>Pursuing B.Tech from HBTU Kanpur (2022-2026)</li>
                <br>
                <li><strong>Skills:</strong>HTML,CSS,JS,Python,Django,Numpy,pandas,matplotlib,MySQL....</li>
            </ul>
            <div class="info">
                <a href="https://www.linkedin.com/in/yashchaudhary27401/"><img src="{% static 'images/linkedin.png'  %}" alt=""></a>
                <a href=""><img src="{% static 'images/twitter.png' %}" alt=""></a>
                <a href="https://www.instagram.com/chaudhary_27401?igsh=MTdzeWc3dHd4N2VpMw=="><img src="{% static 'images/instagram.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/facebook.png' %}" alt=""></a>
            </div>
        </div>
        <div class="images">
            <img  src="{% static 'team/yash1.png' %}" alt="">
            <h1>Yash Chaudhary</h1>
        </div>
    </div>

    <div class="member">
        <div class="images">
            <img  src="{% static 'team/me.png' %}" alt="">
            <h1>Akash Chaurasiya</h1>
        </div>
        <div class="textdata">
            <h2>Co-Founder And Developer</h2>
            <ul>
                <li><strong>Education:</strong>Pursuing B.Tech from HBTU Kanpur (2022-2026)</li>
                <br>
                <li><strong>Skills:</strong>Python,C,HTML,CSS,JS,Numpy,pandas,matplotlib,MySQL....</li>
            </ul>
            <div class="info">
                <a href="https://www.linkedin.com/in/akash-chaurasiya-57b980263/"><img src="{% static 'images/linkedin.png'  %}" alt=""></a>
                <a href=""><img src="{% static 'images/twitter.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/instagram.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/facebook.png' %}" alt=""></a>
            </div>
        </div>
    </div>
    </div>

{% endblock %}