{% extends 'base.html' %}
{% load static %}


{% block title %}
TechBlogs | LearnWithUs
{% endblock %}


{% block style %}



{% endblock %}


{% block heading %}
TechBlog @ LearnWithUs
{% endblock %}


{% block content %}


<div class="data">

    <div class="left-parent">
        <div class="blog">
            <h1>Recent Blogs </h1>
        </div>
        <div class="left">

            {% for i in data %}

            {% for j in i %}
            <div class="blog">
                <div class="content">
                    <p>
                        {{j}}
                    </p>
                </div>
                <div class="readmore">
                    <a href="techblog">Read more</a>
                </div>
            </div>


            {% endfor %}

            {% endfor %}

        </div>
    </div>



    <div class="right">

        <div class="for-responsiveness">
            <div class="searchbar">
                <input type="text" placeholder="Search for blogs..">
                <a href="">Search</a>
            </div>
            <div class="tagsection">
                <h3>Tags</h3>
                <div>
                    <h4>NLP</h4>
                    <h4>AI/ML</h4>
                    <h4>Web Dev</h4>
                    <h4>App Dev</h4>
                    <h4>DataBase</h4>
                    <h4>Web Dev</h4>
                    <h4>NLP</h4>
                </div>
            </div>
        </div>


        <div class="searchbar">
            <input type="text" placeholder="Search for blogs..">
            <a href="">Search</a>
        </div>
        <div class="tagsection">
            <h3>Tags</h3>
            <div>
                <h4>NLP</h4>
                <h4>AI/ML</h4>
                <h4>Web Dev</h4>
                <h4>App Dev</h4>
                <h4>DataBase</h4>
                <h4>Web Dev</h4>
                <h4>NLP</h4>
            </div>
        </div>
        <!-- <div> -->
        <form action="techblog" method="POST">
            <div class="writeblog">
                {% csrf_token %}

                <textarea name="content">Start writing your blog here....</textarea>

                <div>
                    <input type="submit" value="Submit">
                </div>
                <!-- </div> -->
            </div>
        </form>

    </div>
    <br><br>

</div>


{% endblock %}