 h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


section {
    margin: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h2 {
    color: #3498db;
    border-bottom: 2px solid #a31111;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    color: #E91E63; 
    margin-top: 20px;
}

h4 {
    color: #36b62f;
    margin-top: 15px;
}

p {
    margin-bottom: 15px;
}


.images img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0;
}


/* footer {
    background-color: #1e2335;
    font-size: 2em;
    color: #ff9900;
    text-align: center;
    padding: 1em 0;

} */

@media only screen and (max-width: 768px) {
    /* header, footer {
        padding: 0.5em;
    } */

    section {
        margin: 10px;
    }
}

