html {
    background-color: white;
    scale: 1;
    margin: 0;
    padding: 0;
    /* height: 90vh; */
}

h1 {
    color: black;
}
body{
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    /* place-content: center; */
    align-items: center;
    place-items: center;
    /* place-self: center; */
}
.body{
    display: grid;
    grid-template-columns: 3.5fr 2fr;
    justify-content: center;
    place-content: center;
    /* place-items: center; */
    /* align-items: center; */
    border: 5px solid rgb(22,33,62);
    border-radius: 2rem;
    padding: 0;
    border-radius: 3rem;
    width: 70vw;
    box-shadow: 2px 2px 15px rgb(22,33,62);
    /* height: 90vh; */
    /* border-bottom-right-radius: 2rem; */
}
.left,.right{
    /* height: 100vh; */
    height: 70vh;
    /* width: 70vw; */
    /* width: 100vw; */
}
.left{
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    background-color: rgb(22,33,62);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    color: rgb(255, 255, 255);
    
}
.left h1{
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
}
.left h1 span{
    font-size: 1.5rem;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    align-items: center;
    place-items: center;
    /* margin-top: -5rem; */
}
.login-form input{
    border-radius: .5rem;
    height: 2rem;
    width: 15vw;
    border: 2px solid rgb(22,33,62);
    box-shadow: 2px 2px 2px rgb(22, 33, 62);
}
.login-form{
    line-height: 3;
    
}
.login-form input{
    color: rgb(22, 33, 62);
    padding-left: 1.5rem;
    font-weight: 600;
}
.login-form input::placeholder{
    color: rgb(22, 33, 62);
    /* padding-left: 1.5rem; */
    font-weight: 600;
    
}
.login-button input{
    border: 2px solid rgb(22,33,62);
    background-color: rgb(22, 33, 62);
    padding: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    border-radius: .75rem;
    box-shadow: 2px 2px 10px rgb(22,33,62);
    font-weight: 750;
    
}
.login-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;
}
form h2{
    color: rgb(22,33,62);
    text-align: center;
}
.register-btn-div{
    border: 2px solid rgb(22, 33, 62);
    background-color: white;
    color: rgb(22,33,62);
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .5rem;
}
.register-btn-div a{
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: .75rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width:800px){
    .left{
        display: none;
    }
    .body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        place-content: center;
        place-items: center;
    }
    .login-form input{
        width: 25vw;
    }
    .body{
        width: 80vw;
        box-shadow: 4px 4px 50px rgb(22, 33, 62);
        background-color: rgb(22, 33, 62);
        color: white;
    }
    form h2{
        color: white;
    }
    .login-button input{
        font-weight: 900;
        border: 2px solid white;
        /* background-color: white; */
        /* color: rgb(22, 33, 62); */

    }
}

