*{
    font-family: 'Jaldi';
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* left: 10px; */
    background-color: #16213D;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    height:8rem;

}
.header img{
    height: 75%;
}
.heading{
    color: white;
    font-family: 'Jaldi';
    font-weight: bold;
    /* font-size: 58px; */
    font-size: 350%;
    margin: 0%;
}
.nav{

    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.3);
    margin: 1rem 2rem 0rem 2rem;
    border-radius: 20px;
    /* opacity: 0.5; */
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);


}
.nav_list{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: space-around;
    align-items: center;
    /* margin-right: 2%; */
    margin: 0.5rem 0.5rem;
    padding: 0rem;
    /* border-color: #000000; */
}
.navv_list_items>a{
    background-color: #16213D;
    color: white;
    font-family: 'Jaldi';
    text-decoration: none;
    font-weight: bold;
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 2rem;
}
.explore_heading{
    color: #16213E;
    padding-left: 2rem;
    padding-bottom: 0px;
    font-weight: bold;
    font-family: Jaldi;
    margin: 1.5rem 0rem 0rem 0rem;
}
.main_container{
    display: grid;
    grid-template-columns: 30% auto;
    gap: 1rem;
    margin: 1.5rem 0rem;
    /* border: 2px solid black; */

}
.left_container{
    display: flex;
    /* border: 2px solid black; */
    flex-direction: column;
    height: auto;


}
.right_container{

        display: flex;
        flex-direction: column;
        height: auto;
}
#search{
    display: inline-block;
    width: 18rem;
}
.horizontal_line_1{
    width: 24rem;
    height: 0.2rem;
    background-color: #16213E;
    position: relative;
    top:-0.5rem;
    left: 2rem;
    margin-bottom: 0.2rem;
}
.horizontal_line_2{
    width: 24rem;
    height: 0.2rem;
    background-color: #16213E;
    position: relative;
    top:-0.5rem;
    left:3.5rem;

}
.search{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.search_box{
    width: 70%;
    margin: 1rem 0rem 1rem 1rem;
    border-radius: 20px;
    padding-left: 3%;
    border-top: none;
    border-left: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);

}
.search_button{
    width:30% ;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    font-family: 'Jaldi';
    font-weight: bold;
    color: white;
    background-color: #16213D;
    border: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);

}
.opportunities_for_freshsers{
    padding: 1rem;
    border: 1px solid;
    border-color:  rgba(0, 0, 0, 0.2);
    margin: 1rem 1.5rem;
    border-radius: 20px;
    box-shadow:  2px 2px rgba(0, 0, 0, 0.3);
}
.opportunities_for_freshers_heading{
    /* padding-left: 1rem  ; */
    margin-top: 0;
}
.opportunnites_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.opportunities_items{
    display: inline-block;
    padding: 0.2rem 1rem ;
    margin: 0.2rem;
    font-family: 'Jaldi';
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.reference_books{
    padding: 1rem;
    border: 1px solid;
    border-color:  rgba(0, 0, 0, 0.2);
    margin: 1rem 1.5rem;
    border-radius: 20px;
    box-shadow:  2px 2px rgba(0, 0, 0, 0.3);
}
.reference_books_heading{
    margin-top: 0;
}
.reference_books_items{
    list-style: circle;
}
.reference_books_items >a{
    text-decoration: none;

    color: black;
    font-family: 'Jaldi';

}
.right_container_head{
    padding-left: 1rem;
    margin: 1rem 5rem 1rem0rem;

    font-family: 'Jaldi';
    border: 2px solid;
    border-color:  rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow:  2px 2px rgba(0, 0, 0, 0.1);

}
.notes_container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    border: 2px solid;
    color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

.notes_items_logo{
    width: 100%;
    border-radius: 20px;
}

.notes_items{
    padding: 0;
    margin: 1rem;
    border-radius: 20px;
}
.show_more_branches_a{
    text-decoration: none;
    color: black;
}
.show_more_branches{
    color: black;
    justify-self: flex-end;
    margin: 1rem;
    display: inline-block;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.2);
    padding: 0.3rem 1rem;
}

@media screen and (max-width: 850px) {

.main_container{
    display: flex;
    flex-direction: column;
    height: auto;
}
.nav{
    border: none;
    box-shadow: none;
}
.nav_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.navv_list_items{
    margin: 0.1rem;
    width: max-content;
}
.notes_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

}
@media screen and (max-width: 550px){
    .header{
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: center;
        justify-content: center;
        background-color: #16213D;
        border-bottom-left-radius: 6rem;
        border-bottom-right-radius: 6rem;
        height:8rem;

    }
    .header img{
        height: 75%;
    }
    .heading{
        color: white;
        font-family: 'Jaldi';
        font-weight: bold;
        /* font-size: 58px; */
        font-size: 250%;
        margin: 0%;
        width: auto;
    }
    .explore_heading{
        color: #16213E;
        padding-left: 1rem;
        padding-bottom: 0px;
        font-weight: bold;
        font-family: Jaldi;
        margin: 1.5rem 0rem 0rem 0rem;
        font-size: 150%;
    }
    .horizontal_line_1{
        width: 18rem;
        height: 0.2rem;
        background-color: #16213E;
        position: relative;
        top:-0.5rem;
        left: 1rem;
        margin-bottom: 0.2rem;
    }
    .horizontal_line_2{
        width: 18rem;
        height: 0.2rem;
        background-color: #16213E;
        position: relative;
        top:-0.5rem;
        left:2.5rem;

    }

}