header {
    color: white;
    background-color: rgb(22, 33, 62);
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2%;
    margin-left: -1%;
    margin-top: -1.5%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    /* box-shadow: 2px 2px 5px black; */
    box-shadow: 2px 2px 15px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

header img {
    height: 10vw;
}

header:hover {
    cursor: -webkit-grabbing;
}


header h1 {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    margin-top: -.5rem;
}

/* section{ */
/* width: 102vw; */
/* margin-left: -1vw; */
/* } */

section h2 {
    color: white;
    background-color: rgb(22, 33, 62);
    font-family: "Protest Riot", sans-serif;
    font-weight: 300;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* font-weight: 250; */
    border-bottom: 2px solid black;
    border-radius: 3rem;
    /* border-bottom-right-radius: 3rem; */
    /* border-bottom-left-radius: 3rem; */
}




/* Internship Section */

.all-interships {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    column-gap: 2%;
    /* height: 20rem; */
    overflow-y: scroll;
    padding-left: 1.5rem;
}


.internship-detail {
    border: 1px solid black;
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    /* background-color: antiquewhite; */
    width: 30rem;
    padding-left: 2%;
    padding-right: 2%;

}

.all-interships::-webkit-scrollbar {
    display: none;
}


.internship-detail h3 {
    text-align: center;
    text-decoration: underline;
}

.internship-detail img {
    margin-top: .6vw;
    margin-bottom: .6vw;
    width: 30vw;
    box-shadow: 2px 2px 5px rgb(172, 222, 238);
}

.internship-detail img:hover {
    box-shadow: 3px 3px 10px rgb(22, 33, 62);
    width: 31vw;
    /* padding-top: 0; */
    margin-top: 0;
    margin-bottom: 0;
    transition: 80ms ease-in-out;
    cursor: grab;

}

.internship-detail p {
    width: 35vw;
    text-align: center;
}

.heading-data {
    position: sticky;
    top: 1%;
}


@media (min-width:1350px) {
    .internship-detail img {
        width: 20vw;
    }

    .internship-detail img:hover {
        width: 22vw;
    }

    .internship-detail p {
        width: 25vw;
        text-align: center;
    }
}

@media (max-width:600px) {
    header span {
        display: none;
    }

    .internship-detail {
        width: 20rem;

    }

    .internship-detail img {
        width: 17rem;
    }

    .internship-detail p {
        width: 16rem;
    }

    .all-interships {
        column-gap: 1.5rem;
    }

    section h2 {
        /* padding: 0; */
        padding-left: 1.5rem;
    }

    .heading-data {
        width: 99%;
    }

    header {
        width: 99%;
        margin: 0;
        padding: 0;
    }
}

















/* Footer */

footer p {
    color: white;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(22, 33, 62);
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1rem;

    /* position: absolute; */
    /* bottom: 1rem; */
}

.bhome {
    /* rotate: 270deg; */
    position: fixed;
    bottom: 2%;
    right: 2%;

}

.navbar {
    width: 85vw;
    border-radius: 2rem;
}


.navbar {
    /* padding-top: 11VW; */
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: .5rem;
    justify-content: space-around;
    /* place-content: center; */
    /* align-items: center; */
    border: 0px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 1px 1px 10px rgb(22, 33, 62);
    border-radius: 1rem;
}

.navbar div {
    background-color: rgb(22, 33, 62);
    color: white;
    padding: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    font-weight: 600;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}