/* html{
    background-image:linear-gradient(to right, #1f3370, #1f3d3b);
    padding-left: .5rem;
    color: rgb(22, 33, 62);
} */

/* .header{
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;
   gap: 2%; 
} */

/* h1{
    text-align: center;
} */

a{
    text-decoration: none;
    color: inherit;
}

/* .back{
    position: fixed;
    right: 2%;
    bottom: 2%;
    background-color: rgba(56, 27, 186, 0.822);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 15%;
} */
.css{
    /* color: black; */
    border: 1px solid rgb(22, 33, 62);
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(22, 33, 62);
    /* background-color: rgba(255, 255, 255, 0.679); */
    width: fit-content;
}
.css h2,.css h3{
    text-decoration: underline;
}

.chapterlist p{
    padding-left: 4vw;
    padding-right: 4vw;
}
/* .header h1{
    border-bottom: 1px solid rgb(22, 33, 62);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0;
    text-align: center;
} */
/* .header{
    border-bottom: 2px solid rgb(22, 33, 62);
    border-radius: 5px;
    padding-bottom: -1vw;
    margin-bottom: 1vw;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(22, 33, 62);    
} */


.chapterlist{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1vw;
    column-gap: 2vw;
    padding-bottom: 2vw;
}


.bhome{
    position: fixed;
    bottom: 1%;
    right: 2%;
    height: 2.5rem;
    border: 0;
    rotate: 270deg;
}